// Navigation Styles

.top-nav {
    background-color: $verydarkblue;
    padding: 10px;
    width: 100%;
    @include breakpoint (medium down) {
        padding: 0px;
    }
    .mobile-padding {
        @include breakpoint (medium down) {
            margin: 20px 0px;
        }
        @include breakpoint (small down) {
            margin: 10px 0px;
        }
    }
}

.left-menu {
    li {
        padding-right: 30px;
        text-transform: uppercase;
        a {
            color: $white;
            font-family: $fifth-font;
            transition: color .2s ease-in;
            &:hover {
                color: $signupbutton;
            }
        }
    }
    visibility: hidden;
    transform: translateX(-20%);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    &.open {
        visibility: visible;
        transform: translateX(0%);
        opacity: 1;
    }
    ul {
        margin: 10px;
    }
}

.home-btn {
    background-color: $signupbutton;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
    a {
        color: $white;
        font-family: $fifth-font;
        transition: color .2s ease-in;
        &:hover {
            color: $verydarkblue;
        }
        &:focus {
            color: $verydarkblue;
        }
    }
    @include breakpoint (medium down) {
        height: 44px;
        margin: 20px 0px;
    }

}

.right-menu {
    li {
        padding-left: 30px;
        text-transform: uppercase;
        a {
            color: $white;
            font-family: $fifth-font;
            transition: color .2s ease-in;
            &:hover {
                color: $signupbutton;
            }
        }
    }
    visibility: hidden;
    transform: translateX(20%);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    &.open {
        visibility: visible;
        transform: translateX(0%);
        opacity: 1;
    }
    ul {
        margin: 10px;
    }
}

// Hero Styles

.hero-container {
    background: url('../images/dinadiawan1.jpg') no-repeat center center/cover;
    background-attachment: fixed;
    height: 100vh;
    z-index: 0;
    position: relative;
    padding-top: 50px;
    @include breakpoint (medium down) {
        padding: 10px 0px;
    }
}

.overlay {
    background-color: $darkblue;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: .7;
}

#hero-row {
    position: relative;
    top: 20%;
    h1, p {
        color: $white;
        font-family: $tertiary-font;
    }
    h2 {
        color: $white;
        font-family: $fourth-font;
        margin: 10px 10px;
        text-align: center;
    }
    .welcome-container {
        padding: 10px 30px;
        @include breakpoint(medium down) {
            padding: 0px 40px 20px;
            margin: 0px 5px 5px;
        }
    }
}

.email-container {
    padding: 10px 30px;
}

input[type='text'] {
    margin-bottom: 0px;
}

.newsletter-portion {
    h2 {
    margin: 10px 40px;
    }
}

// Biography Styles

.biography-container {
    margin: 70px 0px;
}

.biography-items {
    padding: 30px 30px;
    text-align: center;
    h1 {
        font-family: $tertiary-font;
    }
    p {
        font-family: $fourth-font;
        padding: 70px;
        line-height: 2em;
        @include breakpoint (small down) {
            padding: 30px;
        }
    }
}

// Blog styling

.blog-container {
    margin: 50px 0px;
    padding: 30px 30px;
}

.blog-header h2 {
    font-family: $fourth-font;
    text-align: center;
    padding: 50px 30px;
    @include breakpoint(small down) {
        font-size: 2em;
    }
}

.myblog-thumbnails {
    margin: 10px;
    max-width: 200px;
    img {
        width: 100%;
        transition: all .3s ease-in-out;
        &:hover {
            transform: scale(1.1);
        }
    }
    &:hover {
        box-shadow: $black 1px 0px 5px 1px;
    }
}

.thumbnail-container {
    @include flex;
    @include flex-align(center);
    margin-bottom: 30px;
    padding-bottom: 50px;
}

.thumbnail-contents {
    padding: 10px !important;
    span {
        font-family: $primary-font;
        font-size: .9em;
        margin-right: 20px;
        }
        img {
            width: 20px;
            margin-right: 5px;
            padding-bottom: 4px;
        }
    .comment-count {
        font-size: .8em;
        color: $dark-gray;
        margin: 5px;
    }
    a {
        color: $black;
        h4 {
            font-family: $fourth-font;
        }
    }
}

.house-img {
    height: 60%;
    @include breakpoint(medium down) {
        height: 80%;
    }
}

// Testimonial Styling

.testimonial-container {
    margin: 50px 10px;
    padding: 30px 10px;
}

.testimonial-header h2 {
    font-family: $fourth-font;
    text-align: center;
    padding: 50px 30px;
    @include breakpoint(medium down) {
        font-size: 2em;
    }
}

.testimonial-box {
    @include flex;
    @include flex-direction(row);
    .thumnail-images {
        margin: 10px;
    }
    img {
        width: 300px;
    }
    .testimonial-contents {
        margin: 10px;
        h4 {
            font-family: $primary-font;
            font-size: 1.5em;
        }
        p {
            font-family: $fifth-font;
            font-style: italic;
            font-size: .9em;
        }
    }
}

.testimonial-partition {
    margin: 20px;
}

// Footer styling

.footer-container {
    background-color: $verydarkblue;
    padding: 50px 10px 5px 10px;
    h3 {
        font-family: $tertiary-font;
        color: $white;
    }
    p {
        color: $light-gray;
        font-family: $fifth-font;
        font-size: .8em;
    }
}

.left-footer h3 {
    margin-bottom: 20px;
}

.right-footer {
    h4 {
        color: $white;
        font-family: $fourth-font;
    }
    .icons {
        img {
            width: 10%;
            padding: 5px;
            margin: 10px 10px;
            transform: scale(.8);
            -ms-transform: scale(.8);
            transition: transform .2s ease-in-out;
            &:hover {
                transform: scale(1);
                -ms-transform: scale(1);
            }
        }
    }
    p {
        margin-top: 20px;
    }
    @include breakpoint(small down) {
        margin-top: 20px;
    }
}

.copyright-section {
    padding-top: 30px;
    p {
        font-size: .7em;
    }
}

// Blog Page Styling

.search-bar {
    background: $light-gray;
    padding: 30px 20px 20px 20px;
    border-bottom: 2px #ccc solid;
    margin-bottom: 30px;
    .search-form {
        input, .input-group-label {
            border-color: $medium-gray;
            font-family: $secondary-font;
        }
    }
}

.article-container {
    padding-top: 30px;
}

.article-content {
    @include flex;
    @include flex-direction(row);
    width: 100%;
    background-color: $light-gray;
    @include padding(0, 0, 0, 0);
    @include margin(0, 0, 5, 0);
    box-shadow: $dark-gray 2px 2px 5px 0px;
    @include breakpoint (small down) {
        @include flex;
        @include flex-direction(column);
        height: 100vh;
    }
    .content-container {
        width: 50%;
        padding: 20px 0px 20px 30px;
        @include breakpoint (small down) {
            width: 100%;
            height: 50%;
            padding: 20px;
        }
        a {
            color: $darkblue;
            &:hover {
                color: $signupbutton;
            }
            h3 {
                font-family: $fourth-font;
                margin: 0px;
            }
        }
        span {
            font-family: $primary-font;
            font-size: 1em;
            margin-right: 30px;
            color: $dark-gray;
            img {
                width: 20px;
                margin-right: 5px;
                padding-bottom: 4px;
            }
        }
        p {
            font-family: $primary-font;
            @include breakpoint (small down) {
                margin: 0px;
            }
        }
    }
    .blog-image-container {
        width: 50%;
        margin-left: 50px;
        background-repeat: no-repeat;
        background-position: center center;background-size: cover;
        @include breakpoint (small down) {
            width: 100%;
            height: 50%;
            margin-left: 0px;
        }
    }
}

.side-bar-container {
    @include padding(0, 0, 0, 1);
}

.side-bar {
    background-color: $light-gray;
    margin-left: 20px;
    .biography-container {
        padding: 20px;
        margin-top: 0px;
        margin-bottom: 20px;
        img {
            width: 250px;
            padding: 0px;
            margin: 20px 50px;
            border: 1px solid $medium-gray;
            border-radius: 10px;
        }
        .biography-content {
            padding: 40px;
            text-align: center;
            h4 {
                font-family: $tertiary-font;
            }
            p {
                font-family: $fourth-font;
            }
            a {
                font-family: $secondary-font;
            }
        }
    }
    .category-container {
        width: 100%;
        margin: 10px 40px;
        padding: 0px 20px;
        h4 {
            padding-bottom: 10px;
            border-bottom: 1px solid $medium-gray;
            font-family: $fourth-font;
        }
        ul {
            margin-left: 0px;
            li {
                list-style-type: none;
                border-bottom: 1px solid $medium-gray;
                p {
                    margin-bottom: 5px;
                    margin-top: 10px;
                    font-family: $primary-font;
                    span {
                        float: right;
                        font-family: $primary-font;
                    }
                }
            }
        }   
    }
    .tags-container {
        width: 100%;
        margin: 20px 40px 70px;
        padding: 0px 20px;
        h4 {
            padding-bottom: 10px;
            border-bottom: 1px solid $medium-gray;
            font-family: $fourth-font;
        }
        ul {
            margin-left: 0px;
            li {
                list-style-type: none;
                display: inline;
                font-family: $primary-font;
                margin: 10px 2px;
                @include margin(0, .1, 0, 0);
                a {
                    color: $white;
                    cursor: pointer;
                    &:hover {
                        color: $darkblue;
                    }
                }
            }
        }
    }
}
